body {
		text-align: center;
	background-image: url(/img/teal-watercolor.jpg);
    background-size: cover;
}

@font-face {
	font-family: myOstrichBold;
	src: url(/img/ostrich-sans-master/OstrichSans-Bold.otf);
}

.head_text {
		font-family: myOstrichBold, helvetica, sans-serif;
    font-size: 85px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px purple;
}

@font-face {
	font-family: myOstrichPlaceholder;
	src: url(/img/ostrich-sans-master/ostrichsans-light.otf);
}

.footer_text {
			font-family: myOstrichBold, helvetica, sans-serif;
		font-size: 20px;
		color: white;
		text-align: center;
		text-shadow: 2px 2px 2px purple;
}

