@font-face {
	font-family: myOstrichMedium;
	src: url(/img/ostrich-sans-master/ostrichsansrounded-medium.otf);
}

.input_names_container {
	        font-family: myOstrichMedium, helvetica, sans-serif;
    font-size: 23px;
    color: white;
    margin-top: 20px;
}

@font-face {
	font-family: myOstrichPlaceholder;
	src: url(/img/ostrich-sans-master/ostrichsans-light.otf);
}

.name_input {
	font-family: myOstrichPlaceholder, helvetica, sans-serif;
	width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 6e158a;
}
