.address_container {
	font-family: helvetica, sans-serif;
    font-size: 30px;
    color: #41207d;
    margin-top: 16px;
    text-shadow: 1px 1px 3px white;
}

.address_input {
	    font-family: helvetica, sans-serif;
    /*width: 50%;*/
    padding: 12px 20px;
    margin: 12px 0;
    box-sizing: border-box;
    /*font-size: 18px;
    border-color: #41207d;
    border-width: 2px;
    background-color: hsla(276, 61%, 58%, 0.45); 
    color: white;
    text-align: center;
    border-radius: 2%;*/
}

::placeholder {
		color: white;
	opacity: 0.65;
}

.button {
		color: #41207d;
    background: #ffffffcf;
    font-family: helvetica, sans-serif;
    padding: 3px 8px;
    font-size: 13px;
    border-radius: 5%;
    border: none;
}

.street_input {
	background-color: hsla(276, 61%, 58%, 0.45);
	border-color: #41207d;
    border-width: 2px
    color: white;
    text-align: center;
    border-radius: 2%;
    font-size: 18px;
}

.city_input {
	background-color: hsla(276, 61%, 58%, 0.45);
	border-color: #41207d;
    border-width: 2px
    color: white;
    text-align: center;
    border-radius: 2%;
    font-size: 18px;
}

.state_input {
	background-color: hsla(276, 61%, 58%, 0.45);
	border-color: #41207d;
    border-width: 2px
    color: white;
    text-align: center;
    border-radius: 2%;
    font-size: 18px;
}

.zip_input {
	background-color: hsla(276, 61%, 58%, 0.45);
	border-color: #41207d;
    border-width: 2px
    color: white;
    text-align: center;
    border-radius: 2%;
    font-size: 18px;
}